<div class="spotlights__section block">
    <div class="spotlights__section_list container">
        <article class="item">
            <div class="item__summary">
                <div class="item__summary_header">
                    <div class="name">
                        <h3 class="title title__section_primary c-primary">Casa Propia de inmediato</h3>
                    </div>
                    <div class="text">
                        <p>Brindando la posibilidad de convertir lo que pagas de arriendo actualmente, en la cuota de tu casa.</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="item">
            <div class="item__summary">
                <div class="item__summary_header">
                    <div class="name">
                        <h3 class="title title__section_primary c-tertiary">Una inversión segura</h3>
                    </div>
                    <div class="text">
                        <p>Comprar hoy en Barranquilla es sinónimo de rentabilidad gracias al creciente índice de valorización que tiene la ciudad. Cada día tu propiedad es más valiosa</p>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="spotlights__section_image"> 
        <img src="https://source.unsplash.com/4HG3Ca3EzWw/1920x400" alt="Spotlight 1">
    </div>
</div>