<div class="content content-main content-spotlights">
    <div class="content__inner">
        <section class="spotlights block-wrapper">
            <div class="content__header block">
                <h2 class="title title__page_primary c-secondary"><span class="title-inner">Karánda Significa</span></h2>
            </div>

            {{> spotlights1 }}
            {{> spotlights2 }}
            {{> spotlights3 }}
        </section>
    </div>
</div>