<div class="spotlights__section block">
    <div class="spotlights__section_list container">
        <article class="item">
            <div class="item__summary">
                <div class="item__summary_header">
                    <div class="name">
                        <h3 class="title title__section_primary c-tertiary">Bienestar y recreación</h3>
                    </div>
                    <div class="text">
                        <p>Ya sea para tomarse un respiro o mantenerse en forma, el parque biosaludable será uno de tus lugares favoritos. Espacios verdes y máquinas para ejercitarse en una perfecta armonía.</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>