<div class="spotlights__section block">
    <div class="spotlights__section_list container">
        <article class="item">
            <div class="item__summary">
                <div class="item__summary_header">
                    <div class="name">
                        <h3 class="title title__section_primary c-fourth">Facilidad</h3>
                    </div>
                    <div class="text">
                        <p>Con sistemas de financiación directa o a través de libranza que cubren hasta el 100% del valor de tu casa</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="item">
            <div class="item__summary">
                <div class="item__summary_header">
                    <div class="name">
                        <h3 class="title title__section_primary c-secondary">Relax y esparcimiento</h3>
                    </div>
                    <div class="text">
                        <p>Espacios diseñados para los momentos de descanso, en familia o con amigos, ideales para tomar el sol, disfrutar de la piscina o relajarse</p>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="spotlights__section_image">
        <img src="https://source.unsplash.com/Wv65tpVIdDg/1920x400" alt="Spotlight 2">
    </div>
</div>