.title {
    margin: 0;
    font: {
        weight: 400;
        family: $secondary-font;
    }
    text-transform: uppercase;
    line-height: 1;

    &__page {
        &_primary { 
            @include scale-font($small-ratio: .5, $mid-ratio: .75, $final-size: 7.65rem); 
        } 

        &_secondary {
            @include scale-font($small-ratio: .5, $mid-ratio: .75, $final-size: 2.4rem); 
        }
    }

    &__section {
        &_primary { 
            @include scale-font($small-ratio: .5, $mid-ratio: .75, $final-size: 4.6rem); 
            line-height: 1.2;
        }
    }
}