<div class="content-main content-hero">
    <div class="content-inner">
        <section class="hero" aria-labelledby="hero_main_header">
            <h2 id="hero_main_header" class="hidden">Banner Principal</h2>            
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <figure class="hero__image">
                            <img src="https://source.unsplash.com/_TPTXZd9mOo/1920x1080" alt="Banner 1">
                            <figcaption class="hero__image_caption">
                                <div class="summary">
                                    <div class="text" data-swiper-parallax="-5000">
                                        <p>Karánda</p>
                                        <p>Significa vivir e invertir bien</p>
                                    </div>
                                    <div class="price" data-swiper-parallax="-3000">
                                        <p>desde $70'000.000</p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure class="hero__image">
                            <img src="https://source.unsplash.com/2d4lAQAlbDA/1920x1080" alt="Banner 2">
                            <figcaption class="hero__image_caption">
                                <div class="summary">
                                    <div class="text" data-swiper-parallax="-5000">
                                        <p>Karánda</p>
                                        <p>Significa vivir e invertir bien</p>
                                    </div>
                                    <div class="price" data-swiper-parallax="-3000">
                                        <p>desde $70'000.000</p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure class="hero__image">
                            <img src="https://source.unsplash.com/vbSRUrNm3Ik/1920x1080" alt="Banner 3">
                            <figcaption class="hero__image_caption">
                                <div class="summary">
                                    <div class="text" data-swiper-parallax="5000">
                                        <p>Karánda</p>
                                        <p>Significa vivir e invertir bien</p>
                                    </div>
                                    <div class="price" data-swiper-parallax="3000">
                                        <p>desde $70'000.000</p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>            
        </section>
    </div>
</div>