<div class="content-main content-hero">
    <div class="content-inner">
        <section class="hero" aria-labelledby="hero_main_header">
            <h2 id="hero_main_header" class="hidden">Banner Principal</h2>            
            <div class="swiper-container">
                <div class="swiper-wrapper hero-slider"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>            
        </section>
    </div>
</div>