<header class="site-header" aria-label="Main Site Header">
    <div class="content-row">

        <div class="content-column">
            <h1 class="site-header__title">
                <a href="/">
                    <img src="images/karanda_logo.png" alt="Karanda Logo">
                    <span class="hidden">Karanda</span>
                </a>
            </h1>

            {{> menu }}
        </div>

    </div>
</header>