<div class="site-header__navigation">
    <button id="sitenav_main_mobile_toggle" class="nav-mobile-toggle animated"><span class="nav-mobile-toggle-inner">Main Menu Toggle</span></button>
    <div class="site-header__navigation-inner">
        <nav class="header-primary-menu-wrapper" aria-labelledby="header_primary_menu_header">
            <h2 id="header_primary_menu_header" class="hidden">Menú Primario - Cabezera</h2>
            <ul class="header-primary-menu">
                <li class="menu-item"><a href="/">Inicio</a></li>
                <li class="menu-item"><a href="models.html">Tipos de casas</a></li>
                <li class="menu-item"><a>Información</a></li>
                <li class="menu-item"><a>Contacto</a></li>
            </ul>
        </nav>
    </div>
</div>