<div class="models__section block">
    <div class="models__section_list container">
        <article class="item featured">
            <div class="item__summary">
                <header class="item__summary_header bg-fourth contrast-fourth">                    
                    <div class="item__summary_header_inner">
                        <div class="name">
                            <h3>Casa Tipo 1</h3>
                            <p>Vivienda de 1 piso con 44.81 m2</p>
                        </div>
                    </div>             
                    <div class="text">
                        <p>2 alcobas y 1 baño, recibo, sala, comedor, cocina, labores y patio social.</p>
                        <p>En el exterior, un antejardín con parqueadero descubierto</p>
                    </div>
                </header>   
                <figure class="item__summary_image">
                    <img src="https://source.unsplash.com/rChFUMwAe7E/600x250" alt="Casa tipo 1 imagen">
                </figure>
            </div>
        </article>
        <div class="item-block">
            <article class="item">
                <div class="item__summary">
                    <header class="item__summary_header">
                        <div class="name bg-fourth contrast-fourth">
                            <h3>Primer Piso</h3>
                        </div>
                    </header>
                    <figure class="item__summary_image">
                        <img src="https://source.unsplash.com/weekly?diagram-house&1" alt="Diagrama 1">
                    </figure>
                </div>
            </article>
        </div>
    </div>
</div>