<div class="models__section block">
    <div class="models__section_list container">
        <article class="item last">
            <div class="item__summary">
                <header class="item__summary_header">
                    <div class="name">
                        <h3 class="title title__section_primary c-secondary">Mapa de urbanismo</h3>
                    </div>
                </header>
                <figure class="item__summary_image">
                    <img src="https://source.unsplash.com/weekly?diagram-house&6" alt="Diagrama 6 imagen">
                    <figcaption>
                        <p>Casa Tipo 1</p>
                        <p>Casa Tipo 2</p>
                        <p>Casa Tipo 3</p>
                    </figcaption>
                </figure>
            </div>
        </article>
    </div>
</div>