<div class="content content-main content-models">
    <div class="content__inner">
        <section class="models blocks-wrapper">
            <div class="content__header block">
                <h2 class="title title__page_secondary c-secondary">
                    <span class="title-inner">Karánda ofrece 3 tipos de casas para satisfacer las necesidades de tu familia</span>
                </h2>
                <p>Primera etapa. Confort y bienestar en un conjunto residencial cerrado de 134 viviendas con vías vehiculares, andenes y zona social: terraza, juegos infantiles, gimnasio biosaludable, piscina y parque infantil</p>
            </div>

            {{> models1 }}
            {{> models2 }}
            {{> models3 }}
            {{> models4 }}
        </section>
    </div>
</div>