<div class="models__section block">
    <div class="models__section_list container">
        <article class="item featured">
            <div class="item__summary">
                <header class="item__summary_header bg-secondary contrast-secondary">
                    <div class="item__summary_header_inner">
                        <div class="name">
                            <h3>Casa Tipo 3</h3>
                            <p>Vivienda de 2 pisos con 80.52 m2</p>
                        </div>
                    </div>
                    <div class="text">
                        <p>2 alcobas y 1 baño, recibo, sala, comedor, cocina, labores y patio social.</p>
                        <p>En el exterior, un antejardín con parqueadero descubierto</p>
                    </div>
                </header>
                <figure class="item__summary_image">
                    <img src="https://source.unsplash.com/qCjolcMFaLI/600x250" alt="Casa tipo 3 imagen">
                </figure>
            </div>
        </article>
        <div class="item-block">
            <article class="item">
                <div class="item__summary">
                    <header class="item__summary_header">
                        <div class="name bg-secondary contrast-secondary">
                            <h3>Primer Piso</h3>
                        </div>
                    </header>
                    <figure class="item__summary_image">
                        <img src="https://source.unsplash.com/weekly?diagram-house&4" alt="Diagrama 4">
                    </figure>
                </div>
            </article>
            <article class="item">
                <div class="item__summary">
                    <header class="item__summary_header">
                        <div class="name bg-secondary contrast-secondary">
                            <h3>Segundo Piso</h3>
                        </div>
                    </header>
                    <figure class="item__summary_image">
                        <img src="https://source.unsplash.com/weekly?diagram-house&5" alt="Diagrama 5">
                    </figure>
                </div>
            </article>
        </div>
    </div>
</div>